.szov{
    text-align: justify;
}
.kep{
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 18px;

}
.kartya{
    background-color: rgb(94, 94, 94);
    width:200px;
    height:215px;
    border-radius: 18px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

#logoimg{
    float: left;
}

.eler{
    float: right;
}

.szov1{
    padding-bottom: 10%;
}

.kartya1{
    background-color: rgb(94, 94, 94);
    width:200px;
    height:215px;
    border-radius: 18px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.szoveg{
    padding-left: 20%;
    padding-right: 10%;
}
.szoveg1{
    padding-left: 3%;
    padding-right: 20%;
}