.kep{
    width:410px;
    margin-top: 20px;
    margin-left: 17px;
    margin-right:24px;
    border-radius: 23px;
    height: 300px;
    margin-left:0 auto;
    margin-right:0 auto;

}


h3{
    text-align: center;
    color: black;
    padding-left: 25px;
}
.ambratorzs{
    background-color: rgb(255, 255, 255);
    height:700px;
    width:450px;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    
}
.szoveg{
    margin-left: 20px;
    margin-right: 20px;
    
    
    position: relative;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:15px;
}

.divdivje{
    
    
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.ambratorzs:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}
.divdivdivje{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
h1{
    padding-top: 60px;
    padding-left: 25px;
    color:white;
}
.mobileMenu {
    background-color: black;
  
    
     
    
}


.mobileMenu #myLinks {
    display: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
.mobileMenu a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
    margin-left: 70px;
    

  }
  .mobileMenu a:hover {
    background-color: #ffffff;
    color: rgb(132, 132, 132);
    
  }
  
  .mobileMenu a.icon {
    background: rgb(45, 45, 45);
    width:20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    right: 5;
    top: 2;
  
  }
  
@media screen and (max-width: 600px){
    .divdivje{
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        
        
    }
    .divdivdivje{
        flex-direction: column;
        display: flex;
        justify-content: space-around;
    }

    #menu {
        display: none;
    }
    
    .mobileMenu {
        display: flex;
    }
            

    .ambratorzs{
        background-color: rgb(255, 255, 255);
        height:54vh;
        width:450px;
        border-radius: 20px;
        padding-bottom: 10px;
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    
    }
    .kep{
        width:220px;

        
    }
}
@media screen and (max-width: 800px)
{
    .kep{
        padding-right: 10px;}
}
    @media screen and (max-width: 1000px){
    .divdivje{
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        
    }
    .divdivdivje{
        flex-direction: column;
        display: flex;
        justify-content: space-around;
}
.ambratorzs{
    background-color: rgb(255, 255, 255);
    height:700px;
    width:68vw;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    
}
.kep{
    width:63vw;
    margin-left: 0 auto;
    margin-right: 0 auto;
}
}

