body {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#logo img {
    float: right;
    max-width: 100px;
    height: auto;
    margin-right: auto;
}


h1, h2 {
    text-align: center;
}
h1{
  color: white;
  font-style: italic;
}
.card {
    
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    height:auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease; 
    display: inline-block;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.6);
}

.card img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    text-align: left;
    float: left;
    margin-right: 5%;
}
.card p{
    text-align: justify;
}
.szoveg{
    float: right;
    text-align: justify;
    margin: 0;
}
ul {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
ul li {
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 3%;
  }
  
  .abbr {
    position: absolute;
      top: 60%;
      margin-bottom:2%;
      padding: .55rem 1rem;
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      color: #000;
      border-radius: 50px;
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
      
  }
      .abbr:hover {
          top: 100%;
          opacity: 0.9;
      }

  h2{
    font-size:25px;
    font-style: italic;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(30%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
 
.tooltip .tooltiptext::after {
    content:"";
    position: relative;
    bottom: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.mobileMenu {
    background-color: black;   
}

.mobileMenu #myLinks {
    display: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
.mobileMenu a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
    margin-left: 70px;
    

  }
  .mobileMenu a:hover {
    background-color: #ffffff;
    color: rgb(132, 132, 132);
    
  }
  
  .mobileMenu a.icon {
    background: rgb(45, 45, 45);
    width:20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    right: 5;
    top: 2;
  
  }
  
  @media screen and (max-width: 600px) {
    
    #menu {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }
   
    
}