body {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#logo img {
    float: right;
    max-width: 100px;
    height: auto;
    margin-right: auto;
}


h1, h2 {
    text-align: center;
}
.card {
    
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    height:auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease; 
    display: inline-block;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.6);
}

.card img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    text-align: left;
    float: left;
    margin-right: 5%;
}
.card p{
    text-align: justify;
}
.szoveg{
    float: right;
    text-align: justify;
    margin: 0;
}
ul {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
ul li {
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
  display: flex;
  justify-content: center;
  }
  
  .abbr {
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  h2{
    font-size:25px;
    font-style: italic;

  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .mobileMenu {
    background-color: black;
    
    
}


.mobileMenu #myLinks {
    display: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
.mobileMenu a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
    margin-left: 70px;
    

  }
  .mobileMenu a:hover {
    background-color: #ffffff;
    color: rgb(132, 132, 132);
    
  }
  
  .mobileMenu a.icon {
    background: rgb(45, 45, 45);
    width:20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    right: 5;
    top: 2;
  
  }
  
  @media screen and (max-width: 600px) {
    
    #menu {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }
   
    
}