/*.tavasz1{
    width: 18%;
    height: 18%;
    
}
.tavasz2{
    width: 9%;
    height: 9%;
}


.hatter{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    border-radius: 20px;
    margin-top: 2%;
    width: 80vw;  
}

img{
    margin-left: 130px;
}

.cim{
    text-align: center;
}
.evsz{
    margin-left: 20px
}
*/
.cim{
    text-align: center;
    color:white;
}

.tavaszkartyak{
    background-color: white;
    border-radius:20px;
    width:80vw; 
    height:30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 30px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.nyarkartyak{
    background-color: white;
    border-radius:20px;
    width:80vw; 
    height:30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 30px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.oszkartyak{
    background-color: white;
    border-radius:20px;
    width:80vw; 
    height:30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 30px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.telkartyak{
    background-color: white;
    border-radius:20px;
    width:80vw; 
    height:30vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 30px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.kepek{
    width: 200px;
    height: 210px;
    border-radius:20px;
    margin-top: 20px;
}
.tavaszkartyak:hover, .nyarkartyak:hover, .oszkartyak:hover, .telkartyak:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.evsz{
    font-size: 35px;
}

.tavaszlink{
    color: black;
}
.tavaszlink:hover{
    text-shadow: 0 0 3px #575757; 
}
.nyarlink{
    color: black;
}
.nyarlink:hover{
    text-shadow: 0 0 3px #575757; 
}
.oszlink{
    color: black;
}
.oszlink:hover{
    text-shadow: 0 0 3px #575757; 
}
.tellink{
    color: black;
}
.tellink:hover{
    text-shadow: 0 0 3px #575757; 
}
.mobileMenu {
    background-color: black;
    
    
}


.mobileMenu #myLinks {
    display: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
.mobileMenu a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
    margin-left: 70px;
    

  }
  .mobileMenu a:hover {
    background-color: #ffffff;
    color: rgb(132, 132, 132);
    
  }
  
  .mobileMenu a.icon {
    background: rgb(45, 45, 45);
    width:20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    right: 5;
    top: 2;
  
  }
 
  
@media screen and (max-width: 600px){
    .kepek{
        width:80px;
        height: 180px;
    }
   .evsz{
    font-size: 25px;
   }
   #menu {
    display: none;
}

.mobileMenu {
    display: flex;
}
.cim{
    text-align: center;
    color:white;
    padding-top: 40px;
}

}