.tavasz1{
    width: 150px;
    height: 150px;
}

.hatter{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    width: 1000px;
}

img{
    margin-left: 130px;
}

.cim{
    text-align: center;
}
.evsz{
    margin-left: 20px
}