

.parfumboss{
    display: block;
    margin-top: 15%;
    margin-left: 25%;
    height: 60%;
    width: 45%;
}

.parfum{
    margin-top: 10%;
    display: block;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    min-height: 60%;
    max-height: 60%;
    margin-left: 20%;
}

.logo{
    display: block;
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    min-height: 30%;
    max-height: 30%;
    margin-left: 30%;
}

.flex{
    display: flex;
}

.kartya{
    margin-left: 1%;
    background-color: rgb(255, 255, 255);
    height:300px;
    width:270px;
    border-radius: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}