.parfumboss {
    display: block;
    margin-top: 15%;
    margin-left: 25%;
    height: 60%;
    width: 45%;
}

.parfum {
    margin-top: 10%;
    display: block;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    min-height: 60%;
    max-height: 60%;
    margin-left: 20%;
}

.logo {
    display: block;
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    min-height: 30%;
    max-height: 30%;
    margin-left: 30%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    gap: 16px;

    margin-top: 64px;
    margin-bottom: 64px;
}

.kartya {
    width: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 60px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}



.mobileMenu {
    background-color: black;


}


.mobileMenu #myLinks {
    display: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.mobileMenu a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
    margin-left: 70px;


}

.mobileMenu a:hover {
    background-color: #ffffff;
    color: rgb(132, 132, 132);

}

.mobileMenu a.icon {
    background: rgb(45, 45, 45);
    width: 20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    right: 5;
    top: 2;

}

@media screen and (max-width: 1000px) {
    .kartya {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .kartya {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {

    #menu {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }

    .kartya {
        width: 80%;
    }

}


