body{
    background-image: linear-gradient(white,gray,rgb(80, 80, 80));
    font-size: larger;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 98vw;
}
img{
    width: 100%;
    height: 70%;
    margin-top: 3%;
}
#menu{
    background-color: rgb(94, 94, 94);
    height: 6vh;
    color:white;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    
    
}
a:hover{
    color:white;
    background-color: white;
    color:black;
    
    height: 30px;
    border-radius: 15px;
    width:10vw;
    
    
    
}
a:visited{
    color:none;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

#content1{
    height: 30vh;
    text-align: center;
}
#content2{
    height: 50vh;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;

}
#elsokartya{
    background-color: rgb(61, 60, 60);
    width: 18vw;
    height:40vh;
    border-radius: 20px;
}
#masodikkartya{
    background-color: rgb(61, 60, 60);
    width:18vw;
    height:40vh;
    border-radius: 20px;
}
#harmadikkartya{
    background-color: rgb(61, 60, 60);
    width:18vw;
    height:40vh;
    border-radius: 20px;
}
#logoimg{
    height: 78px;
    width:80px;
    position: relative;
}

#parfumszoveg{
    width: 400px;
    padding-right: 35vw;
    padding-left: 35vw;
}
.kartyak{
    border-radius: 20px;
    width:15vw;
    margin-left: 5%;
    margin-right: 5%;
    
}
.kartyak:hover{
    transform: scale(1.2);
    
    
}
h3{
    font-size: 25px;
    color: white;
}
#elerhetoseg{
    float: right;
    margin-right: 20px;
}
#footer{
    height: 14vh;
}