body{
    background-color: rgb(202, 202, 202);
    font-size: larger;
}
#menu{
    background-color: rgb(94, 94, 94);
    height: 6vh;
    color:white;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
   
}
a:hover{
    color: #ffffff;
    text-shadow: 0 0 7px #ffffff;
}
a:visited{
    color:none;
}
a{
    text-decoration: none;
    position: relative; 
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    transition: .5s;
}

#content1{
    height: 25vh;
    text-align: center;
}
#content2{
    height: 50vh;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    
}
#elsokartya{
    background-color: rgb(94, 94, 94);
    width:15%;
    height:350px;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
#masodikkartya{
    background-color: rgb(94, 94, 94);
    width:15%;
    height:350px;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
#harmadikkartya{
    background-color: rgb(94, 94, 94);
    width:15%;
    height:350px;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
#footer{
    height: 10vh;

}

#logoimg{
    height: 78px;
    width:80px;
}