body {
    -webkit-user-select: none;
    font-family: Arial, sans-serif;
    background-color: #505050;
    margin: 0;
    padding: 0;
}

#menu{
    
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
}
a:hover{
    color:white;
    background-color: white;
    color:black;
    border-radius: 12px;

    
}

a:visited{
    color:none;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 12px;
   
}

#content1 {
    text-align: center;
    padding: 20px;
    color: #fff;
}

#content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

#kartyaelem {
    background-color: #646262;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

#kartyaelem:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.kartyak {
    width: 100%;
    border-radius: 10px;
    vertical-align: top;
}

#footer {
    background: transparent;
    box-shadow: 0 4px 8px rgba(148, 148, 148, 0.6);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 2%;

}
#footer:hover{
    box-shadow: 0 8px 16px rgba(148, 148, 148, 0.6);
}

#logoimg {
    width: 80px;
    height: auto;
}

.mobileMenu {
    background-color: black;
    display: none;
}


.mobileMenu #myLinks {
    display: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
.mobileMenu a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
    margin-left: 70px;
    

  }
  .mobileMenu a:hover {
    background-color: #ffffff;
    color: rgb(96, 96, 96);
    
  }
  
  .mobileMenu a.icon {
    background: rgb(45, 45, 45);
    width:20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    right: 5;
    top: 2;
    
    
    
    
  }
 

@media screen and (max-width: 600px) {
    @media screen and (max-width: 600px) {
    
        #menu {
            display: none;
        }
    
        .mobileMenu {
            display: flex;
        }
        h1{
            padding-top: 40px;
        }
       
        
    }
}