body{
    font-size: larger;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    width: 98vw;
}

.card{
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    height:auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: calc(50% - 20px); 
    display: inline-block; 
    vertical-align: top;
    box-sizing: border-box;
}
.card:hover {
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.6);
}
.card img {
    height: auto;
    border-radius: 10px;
    max-width: 50%;
}
.card p{
    text-align: justify;
}
button{
    float: right;
}