body {
    font-size: larger;
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 17vh;
    width:75vh;
    
}

.card {
    background-color: #ddd;
    position: relative;
    margin-top: 2%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    

}

.card:hover {
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.6);
}

.card img {
    height: auto;
    border-radius: 10px;
    max-width: 100%;
}

button {
    color:white;
    background-color: rgb(11, 11, 58);
    border-radius: 10px;
    font-size: larger;
    width:110px;
    float: right;
    height: 50px;
}
.tavaszkepek{
    width: 100%;
    height: 50px;
}
.mobileMenu {
    background-color: black;
    padding-left: 16.5vh;
    
    
}


.mobileMenu #myLinks {
    display: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    
  }
.mobileMenu a {
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
    margin-left: 70px;
    

  }
  .mobileMenu a:hover {
    background-color: #ffffff;
    color: rgb(132, 132, 132);
    
  }
  
  .mobileMenu a.icon {
    background: rgb(45, 45, 45);
    width:20px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    right: 5;
    top: 2;
    
    
    
    
  }
  
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
    }

    @media screen and (max-width: 600px) {
    
        #menu {
            display: none;
        }
    
        .mobileMenu {
            display: flex;
        }
        h1{
            padding-top: 40px;
        }
        
        
    }}